// Import Compass styles
@import "compass/css3";
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Import Vendor Styles
@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

body {
    padding-top: 50px;
}

.fa {
    margin-right: 5px;
}

.navbar {
    margin-bottom: 0;

    li a {
        font-size: 1.2em;
    }
}

.navbar-brand {
    //font-family: 'Source Sans Pro', sans-serif;
    color: #f1c40f !important;
    font-size: 1.8em;

    .fa {
        margin-right: 0;
    }
}

.map {
    width: 100%;
    height: 100vh;
    margin-top: -50px;
}

.footer {
    padding: 10px;
    background-color: #333;
    color: #f1c40f;
    opacity: 0.9;
    position:fixed;
    bottom:0px;
    width:100%; /* cause of fixed pos */
    height:40px;


    p {
        margin-bottom: 0;
    }

    .fa-heart {
        color: #e74c3c;
        margin-right: 0;
    }
}